@media screen and (max-width:600px) {
    #navbar__upper {
        padding: 1.25rem;
    }

    #footer {
        display: block;
        height: 22.5rem;

    }

    .footer__upper {
        padding: 2rem;
        flex-wrap: wrap;
        display: block;
    }

    .footer__section {
        margin-top: 1rem;
        margin: 2rem;
    }

    .footer__input {
        width: 70vw;
        padding: 8px;
    }

    .navbar__search__div {
        display: none;
        width: 5rem;
    }

    .navbar__menu__div {
        margin-left: 0;
    }

    #navbar__search {
        width: 5rem;
    }

    .main__one {
        margin-top: 1rem;
        display: block;
        padding: 0rem;
    }

    .main__item__img {
        margin: auto;
        width: 90vw;
    }

    #navbar__menu {
        position: relative;
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        /* visibility: hidden; */

    }

    .navbar__menu__div {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 15px;
        align-items: center;
        justify-content: center;
    }

    .navbar__menu__title {
        margin-left: 10px;

    }

    .navbar__lower {
        display: block;
        padding: 2rem;
    }

    #hamburger {
        display: flex;
        width: 2rem;
        height: 2rem;

    }

    .navbar__upper__menubar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #main__section {
        padding: 2rem;
    }

    #two {
        place-items: center;
        grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
    }

    .navbar__lower {
        display: block;
        padding: 2rem;
        height: 5rem;
    }

    #footer {
        position: relative;
        height: auto;
    }

    .one__title {
        font-size: 0.8rem;
    }

    .one__view {
        font-size: 0.8rem;
    }

    .navbar__lower__one {
        width: 100%;
        justify-content: space-between;
    }

    .navbar__lower__two {
        margin-top: 0.5rem;
        width: 100%;
        justify-content: space-between;
    }

    .navbar__lower {
        height: fit-content;
        /* height:5.5rem; */
    }

    .navbar__lower__p {
        font-size: 0.7rem;
    }

    .navbar__list__contact {
        margin: 0;
    }

    .one__view {
        margin: 0;
    }

    .footer__section {
        padding: 0;
    }

    .card__section {
        padding: 2rem;
        display: block;
    }

    .image {
        width: 85vw;
    }

    .heading {
        font-size: 1rem;
    }

    .text {
        font-size: 0.65rem;
        width: 60vw;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:600px) and (max-width: 768px) {

    #hamburger {
        display: flex;
        width: 2rem;
        height: 2rem;
    }

    .navbar__upper__menubar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar__search__div {
        margin-top: 1rem;
    }

    #footer {
        display: block;
        /* height: 22.5rem; */
        height: auto;
    }

    .footer__upper {
        padding: 2rem;
        flex-wrap: wrap;
    }

    .footer__section {
        margin-top: 1rem;
        margin: 1rem;
    }

    #navbar__upper {
        padding: 2rem;
        margin: 0;
    }

    .navbar__search__div {
        width: 90vw;
    }

    #navbar__menu {
        position: relative;
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .navbar__lower {
        padding: 2rem;
        height: fit-content;
        display: block;
        /* font-size:0.3rem; */
    }

    .navbar__lower__one {
        justify-content: space-between;
    }

    .navbar__lower__two {
        justify-content: space-between;
    }

    .navbar__list__contact {
        margin: 0;
    }

    .navbar__menu__div {
        margin: 15px 0;
    }

    .navbar__lower__p {
        font-size: 1rem;
    }

    .card__section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #main__section {
        padding: 1.25rem 3.5rem;
    }

    .image {
        width: 85vw;
    }

    .heading {
        font-size: 1.3rem;
    }

    .text {
        font-size: 0.8rem;
        width: 60vw;
    }

    #two {
        place-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992px) {
    #footer {
        display: block;
        height: auto;
    }

    .footer__upper {
        padding: 2rem;
        flex-wrap: wrap;
        display: block;
        display: grid;
        grid-template-columns: 25% 25% 25%;
    }

    .footer__section {
        margin-top: 1rem;
        margin: 2rem;
    }

    .footer__input {
        width: 50vw;
        padding: 8px;
    }

    #hamburger {
        display: flex;
        width: 2rem;
        height: 2rem;
    }

    .navbar__upper__menubar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar__search__div {
        margin-top: 1rem;
    }

    .card__section {
        display: grid;
        padding: 0.875rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .image {
        width: 20rem;
    }

    #main__section {
        padding: 0.875rem 2rem;
    }

    #navbar__upper {
        padding: 2rem;
        margin: 0;
    }

    .navbar__search__div {
        width: 90vw;
    }

    #navbar__menu {
        position: relative;
        width: 100vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .navbar__menu__div {
        margin: 10px 0;
    }

    .navbar__lower {
        padding: 2rem;
        height: fit-content;
        display: block;

    }

    .navbar__lower {
        padding: 2rem;
        height: fit-content;
        display: block;

    }

    .navbar__lower__one {
        justify-content: space-between;
    }

    .navbar__lower__two {
        justify-content: space-between;
    }

    .navbar__list__contact {
        margin: 0;
    }

    .navbar__lower__p {
        font-size: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1200px) {
    #navbar__upper {
        padding: 0.875rem 2rem;
    }

    #navbar__menu {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .card__section {
        padding: 0.875rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .image {
        width: 25rem;
    }

    #navbar__search {
        width: 14rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width:1400px) {
    #navbar__search {
        width: 16rem;
    }

    .card__section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .image {
        width: 30rem;
    }
}

@media only screen and (min-width:1400px) {
    #navbar__search {
        width: 35rem;
    }


}